<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<style>
table, td, tr{
  border: 0px;
  padding: 0px;
}

.deg90{
  transform: rotate(90deg);
}

.deg180{
  transform: rotate(180deg);
}

.deg270{
  transform: rotate(270deg);
}

.deg0{
  transform: rotate(0deg);
}
</style>
  </head>
  <body>
    <h1>Cubic</h1>
    <% n = 0 %>
    <% @faces.each do |face| %>
      <div style="display=inline; float:left;">
        <p><a class="decode">Decode:</a></p>
        <table>
          <% face.pieces.each_slice(SPLIT) do |pieces| %>
          <tr>
            <% pieces.each do |piece| %>
            <td class="box" id="box<%= n += 1 %>">
              <img class="deg0" id="piece<%= piece.name %>" src="pieces/<%= piece.name %>" />
            </td>
            <% end %>
          </tr>
          <% end %>
        </table>
      </div>
    <% end %>

    <script>
function replace_box(t1, t2){
  console.log({"t1":t1});
  console.log({"t2":t2});

  c1 = t1.children[0];
  c2 = t2.children[0];

  $(t1).empty().append(c2);
  $(t2).empty().append(c1);
}

swap_target = null;
function swap_box(target){
  console.log({"target":target, "swap_target":swap_target});

  if(swap_target){
    if(target == swap_target){
      rotate_img(target)
    }else{
      replace_box(target, swap_target);
    }
    swap_target = null;
  }else{
    swap_target = target;
  }
}

function rotate_img(target){
  var img = $(target.children[0])
  if(img.hasClass('deg90')){
    img.removeClass('deg90');
    img.addClass('deg180');
  }else if(img.hasClass('deg180')){
    img.removeClass('deg180');
    img.addClass('deg270');
  }else if(img.hasClass('deg270')){
    img.removeClass('deg270');
    img.addClass('deg0');
  }else{
    img.removeClass('deg0');
    img.addClass('deg90');
  }
}

SPLIT = <%= SPLIT %>;

function decode_qr(decoder){
  console.log({"decoder":decoder});

  var table = decoder.parentNode.parentNode.children[1];

  var data = JSON.stringify(piece_info(table));

  $.post('/decode', data, function(resp){
    console.log(resp); 
    alert(resp['decoded']);
  });
}

function piece_info(table){
  console.log({"table":table});

  var x = 0;
  var y = 0;

  var pieces = [];

  for(y = 0; y < SPLIT; y++){
    for(x = 0; x < SPLIT; x++){
      console.log({"x": x, "y": y});
      var name = table.children[0].children[y].children[x].children[0].id.replace('piece', '');

      var img = $(table.children[0].children[y].children[x].children[0]);
      var rotate = 0;
      if(img.hasClass('deg90')){
        rotate = 90;
      }else if(img.hasClass('deg180')){
        rotate = 180;
      }else if(img.hasClass('deg270')){
        rotate = 270;
      }else{
        rotate = 0;
      }

      pieces.push({'name':name, 'rotate':rotate});
    }
  }

  console.log({"pieces":pieces});

  return pieces;
}

$('.box').click(function(e){swap_box(e.currentTarget);});
$('.decode').click(function(e){decode_qr(e.currentTarget);});
    </script>
  </body>
</html>
